.header1{
    background-color: red;
    text-align: center;
    margin-top: -0.9%;
}

.navs{

    text-align:center;
    border-color: rgba(165, 22, 22, 0.897);
}

#div{
    text-align:center;
    border-color: rgba(165, 22, 22, 0.897);

}
